html {

    margin:0 auto;

    padding:0;

    height: 100%;

}
body{
    padding: 0px;
    border: 0px;
    overflow:hidden;
    margin:0 auto;
    height:100%;
}



#container{
    width:100%;
    height:100%;
    position:relative;

}

#ft{
    background: rgb(33,37,43);
    position: absolute;
    overflow: hidden;
    width:180px;
    left:0;
    top: 0;
    bottom: 0;
}

#file_op{
    height: 25px;
    background: rgb(33,37,43);
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(33,37,43);
}
#file_tree{
    background: #FFFFFF;
    font:10px;
}
#file_list{
    display:flex;
    flex-direction: column;
    text-indent: 40px;
}
.filecoloum{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
}

.fileSelected{
    background:rgb(59,64,75);
    color:rgb(212, 215, 221);
    line-height:30px;

}

.fileUnselected{
    line-height:30px;
    color:rgb(155,163,176);
    justify-content:center;
    align-items:Center;
}
.newFileDialog{
    position:absolute;
    top : 200px;
    left:200px;
}



#workspace{
    margin-left: 180px;
    margin-right:351px;
    background: rgb(60,63,65);

    border-style:solid;
    border-width: 0px 0px 0px 1px;
    border-color: rgb(24,26,31) ;

    height: 100%;
    display:flex;
    flex-direction: column;
}
#editor{
    height:450px;

}


#terminal{
    border-style:solid;
    border-width: 2px 0px 0px 0px;
    border-color: rgb(24,26,31);
    flex:1;
    display:flex;
}

#terminal_text{

    background-color: rgb(33,37,43);
    caret-color: white;
    text-shadow: 0px 0px 0px #FFFFFF;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing:1px;
    padding:10px 10px 10px 10px;
    flex :1;
    border-style: none;
}

#createNewFile{
	position: absolute;
	width:100px;
	height:80px;
	top bottom left right:auto,auto,auto,auto;
	background: rgb(60,63,65);
}





.LabelSelected{

    color: rgb(212,215,221);
    line-height:34px;
    min-width:150px;
    background: rgb(41, 45, 52);
    border-style:solid;
    border-width: 1px 1px 1px 2px;
    border-left-color: rgb(89, 140 ,239);
    border-color: rgb(24, 26 ,31) rgb(24, 26 ,31)  rgb(41,45, 52) rgb(89, 140 ,239);
    margin:0;
    padding:0;
    text-align:center;
    font-weight: 400;
    font-size:13px;

}

.LabelUnselected{
    min-width:150px;
    line-height:34px;
    color:rgb(155, 163, 176);
    background: rgb(33, 37, 43);
    border-style:solid;
    border-width: 1px 1px 1px 2px;
    border-color:rgb(24,26,31) rgb(24,26,31) rgb(24,26,31)  rgb(33,37, 43);
    margin:0;
    padding:0;
    text-align:center;
    font-weight: 400;
    font-size: 13px;
}


#ws_tab
{
    border-style:solid;

    border-width: 0px 0px 0px 0px;
    border-color: rgb(24,26,31);
	  background: rgb(33,37,43);
    display:flex;
}

.fill_in{
  border-style:solid;
  border-width: 1px 0px 1px 0px;
  border-color: rgb(24, 26, 31);
  line-height:34px;
  width:100%;
}

#op{
    position: absolute;
    width:350px;
    right:0;
    top:0;
    bottom: 0;
    background: rgb(33,37,43);
    border-style:solid;

    border-width: 0px 0px 0px 1px;
    border-color: rgb(24,26,31);
    overflow:hidden;

    color:#000000;
    display:flex;
    flex-direction: column;

}

#compile_deploy{
    display:flex;
    min-height: 32px;
    border-style:solid;
    border-width: 1px 1px 1px 0px;
    border-color: rgb(24, 26, 31);
}
.contract_addr{

}

#run_contract{
    overflow-x: hidden;
    overflow-y: scroll;
}

.ops{
    background: rgb(33,37,43);
    padding: 12.5px 10px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(24,26,31);

}


.op_action{
   border-style:solid;
   border-color: rgb(24,26,31);
   border-width: 0.5px;
   border-radius:2.5px;
   margin: 0px 0px 10px 0px;
   color:#FFFFFF;
   padding:5px 5px 5px 5px;
   position:relative;
}

.action_name{
    font-weight: bold;
    font-size: 15px;
}

.action_excute{
    position:absolute;
    right:9px;
    bottom:9px;
    height:25px;
    width:120px;
    border-radius: 5px;
}

.paras{
    display:flex;
}

.para_name{
    font-weight:200;
    font-size: 10px;
    min-width: 130px;
    text-align:center;
}

.para_input{

    width: 150px;
    border-radius:5px;

}

.authorization{
    min-height: 40px;
}

.half{
    width:50%;
}

.btn{
	border-color: rgb(24,26,31);
	border-style: solid;
  border-width: 0px 0.2px 0px 0.2px;
	background-color: rgb(33,37,43);
	color: rgb(194,197,203);
  min-height: 34px;
}


.input1{
	border-color: rgb(40,44,52);
	border-style: solid;
	background-color: rgb(40,44,52);
	color: rgb(255,255,255);
}

.header{
  display:flex;
  height:32px;
  background-color:rgb(33, 37, 43);
  color:rgb(212,215,221);
}



::-webkit-scrollbar-track-piece{width:10px;background-color:rgb(33,37,43) ;  }

::-webkit-scrollbar{width:10px;height:6px ; }

::-webkit-scrollbar-thumb{height:50px;background:rgb(59,64,75);   cursor:pointer;}

::-webkit-scrollbar-thumb:hover{background:rgb(41,45,52) ; cursor:pointer}
